* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background:  center/cover, black;
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 20vh;
}
.center{
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.footer{
    height: 30vh;
    position: absolute;
    width: 100%;
}
.container{
    width: 100%;
}


.slider_next{
    position: relative;
    background: url("img/svg/slider-next.svg");
    right: 70%;
}

.slider_prev{
    position: relative;
    background: url("img/svg/slider-prev.svg");
    right: 0;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.slider-icon{
    width: 62px;
    height: 62px;
    background-size: 52px 52px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: 1.5s;
}

.slider_next:active{
    transition: .5s;
    right: 30%;
}

.slider_prev:active{
    transition: .5s;
    right: 50%;
}

#id_clock{
    font-size:46pt;
}

.footer, .quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generator{
    background: url("img/svg/reload.svg");
    margin-bottom: 30px;
}

.change-quote{
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.change-quote:active{
    transform: rotate(180deg);
}
.quota{
    font-size: 16px;
    max-width: 60%;
    text-shadow: 0 0 5px #100909, 0 0 5px #000000;
}

.author{
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 5px #100909, 0 0 5px #000000;
}

.quota, .author{
    min-width: 250px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}



.play-prev {
    background-image: url(img/svg/play-prev.svg);
}
.play-next{
    background-image: url(img/svg/play-next.svg);
}
.pause{
    background-image: url(img/svg/pause.svg)!important;
}

.play{
    background-image: url(img/svg/play.svg);
}

.center_music{
    width: 64px !important;
    height: 64px !important;
    background-size: 64px 64px !important;
}


.player-icon{
    width: 54px;
    height: 54px;
    background-size: 54px 54px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-shadow: 0 0 5px #100909, 0 0 5px #000000;
}

.time_text{
    font-size: 24px;
}
iframe{
    max-height: 20vh;
    max-width: 58%;
}



.clock{
    margin-right: 10px;
}

.player{
    height: 10vh;
    width: 60%;

    display: flex;
    justify-content: center;
}

.icon{
    height: 110px;
    width: 110px;
    background:  no-repeat center url("img/16636.png");
    background-size: cover;
}

.name{
    font-size: 24px;
}

.profile{
    display: flex;
}

.opys{
    margin-top: 15px;
}

.new_tasks{
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloack_tosk{
    height: 100%;
    width: 30vw;
}
.task_block_text{
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    color: #E0C9BC;
}

.icon2{
    font-size: 40px;
    color: #E0C9BC;
    cursor: pointer;
    padding-right: 6px;
}

.icon2:last-child{
    font-size: 40px;
    padding-right: 10px;
    color: #E0C9BC;
    cursor: pointer;
}

.line_through{
    text-decoration: line-through;
    text-decoration-color: #E0C9BC;
}




.fa-square-plus:active{
    color: #A28887;
}

.icon2:nth-child(2){
    padding-left: 5px;
}

.task{
    display: flex;
    padding: 10px;
}

.task_text{
    width: 260px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    text-shadow: 0 0 5px #100909, 0 0 5px #000000;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}


.slider_tuda_suda{
    position: fixed;
    right: 0;
}

li{
    list-style-type: none;
}

.tools_block{
    padding: 10px;
    height: 320px;
    width: 90px;
}
.tools{
    border: 2px solid #E0C9BC;
    border-radius: 10px;
}

.display_falsz{
    display: none;
}

.weather_block{
    height: 320px;
    width: 300px;
}

.weather{
    margin-right: 10px;
    display: flex;
}

.city {
    width: 190px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.header-container {
    left: 0; right: 0;
    padding: 10px;
    margin: 0;
    background-color: #168DE2;
    border-bottom: 1px solid #ddd;
    min-width: 60%;
}

.header-player-container {
    position: relative;
    margin: 0 auto;
}

.header-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.header-player-controls {
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.header-player-info {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}

.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.artSong-header {
    margin-left: 200px;
    margin-bottom: -5px;
    text-align: left;
    font-family: 'MyriadPro-Regular', "Arial", sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 0 0 #fff;
}


.controls {
    display: flex;
    width: 140px;
    min-height: 50px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.playButton,
.stepButton {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 12px;
    width: 50px;
    height: 50px;
    position: relative;
    text-align: center;
    border-radius: 50%;
}

.playButton:hover,
.stepButton:hover {
    text-decoration: none;
    background: #f5f5f5;
}

.stepButton {
    margin: 0;
    width: 32px;
    height: 32px;
}

.playButton svg {
    margin-top: 15px;
}

.playBtn svg {
    margin-left: 5px;
    margin-top: 15px;
}

.stepButton svg {
    margin-top: 8px;
}

.stepBack svg {
    margin-right: 3px;
}

.stepForward svg {
    margin-left: 3px;
}

.pauseBtn {
    display:none;
}

.duration-player {
    position: relative;
    height: 9px;
    margin: 0 10px 0 20px;
    min-width: 300px;
    background-color: #fff;
    cursor: pointer;
}

#progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    background-color: #FF940A;
    z-index: 1;
}

/* Timer */
.duration-timer {
    display: flex;
    font-size: 16px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.timer-header:after {
    content: ' / ';
    font-size: 16px;
    white-space: pre;
}

.volume-header {
    display: flex;
    align-items: center;
}

.muteButton {
    display: flex;
    align-items: center;
    margin: 12px;
}

.volume-header input[type='range'] {
    width: 70px;
    height: 7px;
    background-color: #fff;
    margin-right: 10px;
    outline: none;
    -webkit-appearance: none;
}

.container3 {
    display: block;
    min-height: 500px;
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 100px;
}

.list-song,
.list-song1 {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 280px;
    height: 55px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);
    padding: 10px;
    padding-right: 50px;
    padding-left: 0;
}

.list-song:before {
    content: '';
    width: 20px;
    height: 20px;
    padding: 10px;
    outline: none;
    margin-right: 25px;
    margin-left: 0;
    background-position: 55% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #168DE2;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='16' height='16' viewBox='0 0 1792 1792' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1576 927l-1328 738q-23 13-39.5 3t-16.5-36v-1472q0-26 16.5-36t39.5 3l1328 738q23 13 23 31t-23 31z' fill='%23fff'/%3E%3C/svg%3E");
    position: relative;
    text-align: center;
    border-radius: 50%;
}

.list-song1:before {
    content: '';
    width: 20px;
    height: 20px;
    padding: 10px;
    outline: none;
    margin-right: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #168DE2;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='16' height='16' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1664 192v1408q0 26-19 45t-45 19h-512q-26 0-45-19t-19-45v-1408q0-26 19-45t45-19h512q26 0 45 19t19 45zm-896 0v1408q0 26-19 45t-45 19h-512q-26 0-45-19t-19-45v-1408q0-26 19-45t45-19h512q26 0 45 19t19 45z' fill='%23fff'/%3E%3C/svg%3E");
    position: relative;
    text-align: center;
    border-radius: 50%;
}

.download {
    width: 20px;
    height: 20px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 18px;
    outline: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #168DE2;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='16' height='16' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1344 1344q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h465l135 136q58 56 136 56t136-56l136-136h464q40 0 68 28t28 68zm-325-569q17 41-14 70l-448 448q-18 19-45 19t-45-19l-448-448q-31-29-14-70 17-39 59-39h256v-448q0-26 19-45t45-19h256q26 0 45 19t19 45v448h256q42 0 59 39z' fill='%23fff'/%3E%3C/svg%3E");
    border-radius: 5%;
}



















